*.iml
.gradle
/local.properties
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/tmp
/.android-user-home
/.gradle-user-home
/.kotlin
/.playwright-cli
/.tmp-crystal-aar
/.tmp-crystal-unpack
/buildSrc/build
hs_err_pid*.log
/device-layout*.json
/device-wallet-layout.json
