<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- External storage for caching. -->
    <!-- Images are selected through the system picker and camera output is stored in app cache. -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".SabkuchApplication"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="firebase_messaging_installation_id_enabled"
            android:value="true" />

        <activity
            android:name="com.adevinta.leku.LocationPickerActivity"
            android:label="@string/leku_title_activity_location_picker"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/leku_searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".ui.shopping.ShoppingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uicomponent.BaseWebActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.stafftrack.StaffTrackActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.contribute.ContributeActivity" />
        <activity android:name=".ui.contribute.NriDataEntryActivity" />
        <activity android:name=".ui.contribute.RealEstateLeadActivity" />
        <activity android:name=".ui.realestate.RealEstateActivity" />
        <activity
            android:name=".ui.wallet.WalletActivity"
            />
        <activity
            android:name=".ui.profile.ReferralActivity"
            />
        <activity
            android:name=".ui.transport.AddTransportActivity"
            />
        <activity
            android:name=".ui.transport.TransportActivity"
            />
        <activity
            android:name=".ui.needs.AddNeedActivity"
            />
        <activity
            android:name=".ui.needs.NeedsActivity"
            />
        <activity
            android:name=".ui.matrimonial.viewProfile.ViewProfileActivity"
            />
        <activity
            android:name=".ui.public_utility.AddPublicUtilityActivity"
            />
        <activity
            android:name=".ui.public_utility.PublicUtilityActivity"
            />
        <activity
            android:name=".ui.chat.ChatActivity"
            />
        <activity
            android:name=".ui.matrimonial.ShowProfilesActivity"
            />
        <activity
            android:name=".ui.pin.PinActivity"
            />
        <activity
            android:name=".ui.inbox.InboxActivity"
            />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            />
        <activity
            android:name=".ui.jobs.jobmela.JobMelaActivity"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sabkuch.sabkuchworld.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.profile.RegisterUserActivity"
            />
        <activity
            android:name=".ui.home.HomeActivity"
            android:hardwareAccelerated="true"
            />
        <activity
            android:name=".ui.profile.VerificationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.directory.DirectoryActivity"
            />
        <activity
            android:name=".ui.directory.SubDirectoryActivity"
            />
        <activity
            android:name=".ui.directory.DirectoryDetailsActivity"
            android:hardwareAccelerated="true"
            />
        <activity
            android:name=".ui.events.EventActivity"
            />
        <activity
            android:name=".ui.events.BunnyVideoPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.events.LearnCourseDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.events.LearnWebsiteActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.phonebook.PhoneBookActivity"
            />
        <activity
            android:name=".ui.movies.MoviesActivity"
            />
        <activity
            android:name=".ui.events.AddEventActivity"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.offers.OffersActivity"
            />
        <activity
            android:name=".ui.jobs.JobCategoryActivity"
            android:launchMode="singleTop"
            android:exported="false"
            >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ask.AddQuestionActivity"
            />
        <activity
            android:name=".ui.directory.AddReviewActivity"
            />
        <activity
            android:name=".ui.jobs.AddJobsActivity"
            />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".ui.directory.AddDirectoryActivity"
            />

        <service
            android:name=".locationProvider.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".ui.ask.AskCategoryActivity"
            />
        <activity
            android:name=".ui.vehicle.VehicleActivity"
            />
        <activity
            android:name=".ui.vehicle.DestinationCityActivity"
            />
        <activity
            android:name=".ui.vehicle.VehicleTimingActivity"
            />
        <activity
            android:name=".ui.ask.ConversationActivity"
            />
        <activity
            android:name=".ui.cropImage.CropImageActivity"
            />
        <activity
            android:name=".ui.wallet.WithdrawalActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            />
        <activity
            android:name=".ui.wallet.TransferActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.classifieds.ClassifiedsActivity"
            />
        <activity
            android:name=".ui.classifieds.ClassifiedDetailsActivity"
            />
        <activity
            android:name=".ui.classifieds.AddClassifiedsActivity"
            />
        <activity
            android:name=".ui.classifieds.EditClassifiedActivity"
            /> <!-- [START gcm_listener] -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
